<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120155871462-8cnut4gpbguok76qk7t4ojef72ii6tb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120155871462-8cnut4gpbguok76qk7t4ojef72ii6tb7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>120155871462-2eqefavrmgkqqu3iv0k23fakp2prhsmu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA22CV_GKn-PZ-i2V7yOxBmDgP7OI9Y5DA</string>
	<key>GCM_SENDER_ID</key>
	<string>120155871462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bawabt.alsharq</string>
	<key>PROJECT_ID</key>
	<string>bawabt-alsharq-aff55</string>
	<key>STORAGE_BUCKET</key>
	<string>bawabt-alsharq-aff55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120155871462:ios:2111b2bf4092e2eeef0327</string>
</dict>
</plist>